<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="callSettersOnNulls" value="true"/>
        <!-- 	<setting name="logImpl" value="STDOUT_LOGGING"/> -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.best.web.model.essence.CustInfo" alias="CustInfo"/>

        <typeAlias type="com.best.web.model.cust.Cust" alias="Cust"/>
        <typeAlias type="com.best.web.model.cust.CustBaseInfo" alias="CustBaseInfo"/>
        <typeAlias type="com.best.web.model.cust.Family" alias="Family"/>
        <typeAlias type="com.best.web.model.admin.User" alias="User"/>
        <typeAlias type="com.best.web.model.cust.FamilyBaseInfo" alias="FamilyBaseInfo"/>

        <typeAlias type="com.best.web.model.cust.CardParam" alias="CardParam"/>
        <typeAlias type="com.best.web.model.cust.Card" alias="Card"/>
        <typeAlias type="com.best.web.model.cust.CardPackage" alias="CardPackage"/>
        <typeAlias type="com.best.web.model.cust.CardService" alias="CardService"/>
        <typeAlias type="com.best.web.model.cust.PackageService" alias="PackageService"/>
        <typeAlias type="com.best.web.model.cust.CardTotalService" alias="CardTotalService"/>
        <typeAlias type="com.best.web.model.cust.ServiceLog" alias="ServiceLog"/>

        <typeAlias type="com.best.web.model.order.OrderParam" alias="OrderParam"/>
        <typeAlias type="com.best.web.model.order.CardNo" alias="CardNo"/>

        <typeAlias type="com.best.web.model.order.ServiceOrderQuantity" alias="ServiceOrderQuantity"/>
        <typeAlias type="com.best.web.model.order.ServiceInfo" alias="ServiceInfo"/>
        <typeAlias type="com.best.web.model.order.SupplierInfo" alias="SupplierInfo"/>
        <typeAlias type="com.best.web.model.order.SupplierOrgInfo" alias="SupplierOrgInfo"/>
        <typeAlias type="com.best.web.model.order.ServiceOrder" alias="ServiceOrder"/>
        <typeAlias type="com.best.web.model.order.PhysicalOrder" alias="PhysicalOrder"/>
        <typeAlias type="com.best.web.model.order.DoctorOrder" alias="DoctorOrder"/>
        <typeAlias type="com.best.web.model.order.GeneOrder" alias="GeneOrder"/>

    </typeAliases>
    <mappers>
        <mapper resource="com/best/web/sql/initSql.xml"/>
        <mapper resource="com/best/web/sql/custSql.xml"/>
        <mapper resource="com/best/web/sql/orderSql.xml"/>
        <mapper resource="com/best/web/sql/userSql.xml"/>
    </mappers>
</configuration>